@using UniversityManagementWebApp.Models
@model CourseEnroll
@{
    ViewBag.Title = "SaveResult";
    Layout = null;
    var students = ViewBag.Students;
    var gardes = ViewBag.Grades;
    string message = ViewBag.Message;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label for="registrationNoDropDownList">Student Reg. No</label>
                </td>
                <td>
                    <select class="form-control" id="registrationNoDropDownList" name="StudentId">
                        <option value="0">--Select--</option>
                        @foreach (var item in students)
                        {
                            <option value="@item.Id">@item.RegistrationNo</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.StudentId)
                </td>
            </tr>

            <tr>
                <td>
                    <label for="nameTextBox">Name</label>
                </td>

                <td>
                    <input type="text" id="nameTextBox" name="Name" readonly="readonly">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="emailTextBox">Email</label>
                </td>

                <td>
                    <input type="text" id="emailTextBox" name="Email" readonly="readonly">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="departmentTextBox">Department</label>
                </td>

                <td>
                    <input type="text" id="departmentTextBox" name="Department" readonly="readonly">
                </td>
            </tr>

            <tr>
                <td>
                    <label for="courseDropDownList">Course</label>
                </td>
                <td>
                    <div class="col-sm-10">
                        <select @*class="form-control"*@ id="courseDropDownList" name="CourseId">
                            <option value="0">--Select--</option>
                        </select>
                        @Html.ValidationMessageFor(x => x.CourseId)
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="gradeDropDownList">Grade</label>
                </td>
                <td>
                    <select class="form-control" id="gradeDropDownList" name="CourseGrade">

                        @foreach (var grade in gardes)
                        {
                            <option value="@grade">@grade </option>
                        }
                    </select>
                    @Html.ValidationMessageFor(x => x.CourseGrade)
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit" class="btn btn-info">Save</button>
                </td>
            </tr>
        </table>
    </form>
    @if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/StudentResultView.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
